DebugLevel      0
IpVersion      4
ClearScreen      yes
#Hna4
#{
#    10.16.201.156    255.255.255.224
#}
AllowNoInt      yes
UseHysteresis  no
LinkQualityLevel    2
LinkQualityWinSize    100
Pollrate      0.1
NicChgsPollInt  3.0
TcRedundancy  2
MprCoverage      1

# Common wireless interface names: wl0, ath0
Interface "wl0"
{
    HelloInterval  4.0
    HelloValidityTime    80.0
    TcInterval      8.0
    TcValidityTime  160.0
    MidInterval      8.0
    MidValidityTime  160.0
    HnaInterval      8.0
    HnaValidityTime  160.0
}
Interface "tap0"
{
    HelloInterval  4.0
    HelloValidityTime    80.0
    TcInterval      8.0
    TcValidityTime  160.0
    MidInterval      8.0
    MidValidityTime  160.0
    HnaInterval      8.0
    HnaValidityTime  160.0
    LinkQualityMult default    0.07
}
